@{
    Layout = "_Layout";
}

<div class="jumbotron text-center">
    <h1>Clients</h1>
</div>
<div class="container text-center">
  <h1>New Client</h1>
      @{
        if (@Model.Count > 0)
        {
          <form action="/clients" method="post">
            <input type="text" name="firstName" placeholder="First name"></input>
            <input type="text" name="lastName" placeholder="Last name"></input>
            <select class="form-dropdown" name="stylistId" required>
            @foreach (var stylist in Model)
            {
              <option name="@stylist.GetStylistId()" value="@stylist.GetStylistId()">@stylist.GetStylistFirstName() @stylist.GetStylistLastName()</option>
            }
            </select>
            <button type="submit">Add a new CLIENT</button>
          </form>
        }
        else
        {
          <h3>Please add a Stylist first</h3>
        }
      }
  <bR><br>

</div>
